<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="vendorAdapters"
             type="Vendor.Common.Configuration.VendorAdaptersSection, Vendor.Common" />
  </configSections>

  <vendorAdapters>
    <adapters>
      <add vendorName="FourKites"
           adapterType="Some.Future.Type.FourKitesAdapter, Vendor.FourKites"
           inboundProcessorType="Some.Future.Type.FourKitesWebhookProcessor, Vendor.FourKites"
           webhookValidatorType="Some.Future.Type.FourKitesWebhookSignatureValidator, Vendor.FourKites" />
      <add vendorName="Project44"
           adapterType="Some.Hypothetical.Project44Adapter, Vendor.Project44" />
    </adapters>
  </vendorAdapters>
</configuration>
